<p id="notice"><%= notice %></p>

<h1>Listing Notification Masters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_masters.each do |notification_master| %>
      <tr>
        <td><%= link_to 'Show', notification_master %></td>
        <td><%= link_to 'Edit', edit_notification_master_path(notification_master) %></td>
        <td><%= link_to 'Destroy', notification_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification master', new_notification_master_path %>
