<%= form_for(@process_instance) do |f| %>
  <% if @process_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_instance.errors.count, "error") %> prohibited this process_instance from being saved:</h2>

      <ul>
      <% @process_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="table-header">Listing Master Pros</div>
      <table id="master_pros_table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 25%">_id</th>
              <th style="width: 60%">Name</th>
              <th style="width: 10%" class="center">Show</th>
            </tr>
        </thead>

        <tbody>
          <% @process_masters.each do |process_master| %>
            <tr>
              <td class="center">
                <div class="control-group">
                  <div class="radio">
                    <label style="padding-left: 0">
                      <input type="radio" class="ace" name="process_master" value="<%= process_master._id.to_s %>" />
                      <span class="lbl"></span>
                    </label>
                  </div>
                </div>
              </td>
              <td><%= process_master._id.to_s %></td>
              <td><%= process_master.name %></td>
              <td class="center">
                <%= link_to process_master, :class => "btn btn-xs btn-info" do %>
                   <i class='fa fa-eye bigger-130'></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="space-10"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <%= f.submit 'Initiate Process', :class => 'btn btn-success' %>
          <%= link_to 'Back', process_instances_path, :class => 'btn btn-dafault' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
