<%= form_for @generic, :html => { :multipart => true } do |f| %>

  <%# @forms.to_json %>
  <input type="hidden" name="step" value="<%= @step_instance[:id] %>">
  
  <div class="row">
    <div class="col--md-12">
      <div class="widget-box">
        <div class="widget-header">
          <h5 class="widget-title"><%= @form_title %></h5>
        </div>
        <div class="widget-body">
          <div class="row" style="margin-left:-9px">
            <div class="col-md-12">
              <div class="col-md-12 form-holder">
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-12"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit 'Submit Form', :class => 'btn btn-primary' %>
        <%= link_to 'Back', generics_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<script>

  function initFormBuilder(form, nameKey) {
    var _parent = $('.form-holder').last();
    appendSpace(_parent, 12);
    appendModelNameHiddenInput(_parent, form['main_form']['model'], nameKey)
    formBuilder(form.main_form, _parent, nameKey);
    if(form['sub_forms']) {
      for(var i = 0, length = form['sub_forms'].length; i < length; i++) {
        subNameKey = nameKey+"[sub_forms]["+i+"]"
        subFormBuilder(form['sub_forms'][i], _parent, subNameKey);
      }
    }
  }

  function formBuilder(form, _parent, nameKey) {
    nameKey = nameKey+"[main_form]"
    buildForm(form, _parent, nameKey);
  }

  function subFormBuilder(form, _parent, subNameKey) {
    appendWidgetBox(_parent, form.main_form.title, form);
    appendSpace(_parent, 6);
    initFormBuilder(form, subNameKey);
  }
  console.log(gon.form)

  initFormBuilder(gon.form, "form");

  function appendWidgetBox(_parent, title, form) {
    console.log(JSON.stringify(form))
    var widget = [
      {type: "<div />", attributes: {class: "row"}, children: [
        {type: "<div />", attributes: {class: "col-md-12"}, children: [
          {type: "<div />", attributes: {class: "widget-box"}, children: [
            {type: "<div />", attributes: {class: "widget-header"}, children: [
              {type: "<h5 />", attributes: {class: "widget-title", html: title}}
            ]},
            {type: "<div />", attributes: {class: "widget-body"}, children: [
              {type: "<div />", attributes: {class: "row"}, children: [
                {type: "<div />", attributes: {class: "col-md-12"}, children: [
                  {type: "<div />", attributes: {class: "col-md-12 form-holder", form_config: JSON.stringify(form)}}
                ]}
              ]}
            ]}
          ]}
        ]}
      ]}
    ]

    initHTMLAppender(_parent, widget);    
  }

  function addColumns(count, _parent) {
    for(var i = 0, col = parseInt(12/count); i < count; i++) {
      var attributes = {class: "col-md-"+col+" column"+(i+1)};
      _parent.append($("<div />", attributes));
    }
  }

  function appendSpace(_parent, count) {
    _parent.append($("<div />", {class: "space-"+count}));
  }

  function appendModelNameHiddenInput (_parent, modelName, nameKey) {
    console.log(_parent)
    _parent.append($("<input />", {type:"hidden", name: nameKey+"[action_class]", value:modelName, class:"model-holder"}));
  }

  function buildForm(form_config, _parent, nameKey) {
    // console.log("buildForm")
    // form_config = gon.form_config;
    var columns = Object.keys(form_config.fields).length
    addColumns(columns, _parent);

    for(var column in form_config.fields) {
      var _column = $(_parent.find("."+column));
      for(var modelKey in form_config.fields[column]) {
        var label = form_config.labels[modelKey];
        var yamlConfig = form_config.fields[column][modelKey];
        var jsonHTML = buildHTMLFromYAML(modelKey, label, yamlConfig, nameKey);
        initHTMLAppender(_column, jsonHTML);
        appendSpace(_column, 12);
      }
    }
  }

  function buildHTMLFromYAML(modelKey, label, yamlConfig, nameKey) {
    var htmlType = yamlConfig.html.tag + "_" + yamlConfig.html.type;
    var selectOptions = [];
    var radioOptions = [];

    if(yamlConfig.html.tag == 'select') {
      if(yamlConfig.html.model)
        selectOptions = getOptionsFromModel(yamlConfig.html.model, yamlConfig.html.modelValue);

      if(yamlConfig.html.array)
        selectOptions = getOptionsFromArray(yamlConfig.html.array);
    }

    if(yamlConfig.html.type == 'radio') {
      radioOptions = getRadioFromArray(yamlConfig.html.array, modelKey);
    }

    var defaultStructures = {
      'input_text': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<input />", attributes: {class: "col-md-"+yamlConfig.html.size, placeholder: label, type: "text", name: nameKey+"["+modelKey+"]"}}
          ]}
        ]}
      ],
      'input_area': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<textarea />", attributes: {class: "col-md-"+yamlConfig.html.size+" autosize-transition", placeholder: label, name: nameKey+"["+modelKey+"]", style: "overflow:hidden;word-wrap: break-word;resize:none"}}
          ]}
        ]}
      ],

      'input_password': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<input />", attributes: {class: "col-md-"+yamlConfig.html.size, placeholder: label, type: "password", name: nameKey+"["+modelKey+"]"}}
          ]}
        ]}
      ],
      
      'input_date': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<div />", attributes: {class: "col-md-"+yamlConfig.html.size+" input-group"}, children: [
              {type: "<input />", attributes: {class: "date-picker", placeholder: label, type: "text", name: nameKey+"["+modelKey+"]", style:"width:100%"}},
              {type: "<span />", attributes: {class:"input-group-addon"}, children:[
                {type: "<i />", attributes: {class:"fa fa-calendar bigger-110"}}
              ]}
            ]}
          ]}
        ]}
      ],
      
      'input_file': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<div />", attributes: {class: "col-md-"+yamlConfig.html.size+" no-padding-right no-padding-left"}, children: [
              {type: "<input />", attributes: {class: "ace-file-input", type: "file", name: nameKey+"["+modelKey+"]"}}
            ]}
          ]}
        ]}
      ],

      'input_checkbox': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<div />", attributes: {class: "col-md-"+yamlConfig.html.size+" no-padding-right no-padding-left"}, children: [
              {type: "<label />", attributes: {}, children: [
                {type: "<input />", attributes: {class: "ace ace-switch ace-switch-6", type: "checkbox", name: nameKey+"["+modelKey+"]"}},
                {type: "<span />", attributes: {class: "lbl"}}
              ]}
            ]}
          ]}
        ]}
      ],

      'input_radio': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"control-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type:"<div />", attributes: {class: "col-md-"+yamlConfig.html.size}, children: radioOptions}
          ]}
        ]}
      ],

      'select_single': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<div />", attributes: {class: "col-md-"+yamlConfig.html.size+" no-padding-right no-padding-left"}, children: [
              {type: "<select />", attributes: {class: "chosen-select", name: nameKey+"["+modelKey+"]"}, children: selectOptions}
            ]}
          ]}
        ]}
      ],

      'select_multiple': [
        {type: "<div />", attributes: {class:"row"}, children: [
          {type: "<div />", attributes: {class:"form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-"+yamlConfig.label.size+" control-label no-padding-left no-padding-right", html: label}},
            {type: "<div />", attributes: {class: "col-md-"+yamlConfig.html.size+" no-padding-right no-padding-left"}, children: [
              {type: "<select />", attributes: {class: "chosen-select", multiple: "", name: nameKey+"["+modelKey+"][]"}, children: selectOptions}
            ]}
          ]}
        ]}
      ]
    }

    return defaultStructures[htmlType]
  }

  function getOptionsFromModel(model, key) {
    console.log(model)
    var optionHtml = [];
    for(var i = 0, length = gon.model[model].length; i < length; i++) {
      if(key == '_id')
        optionHtml.push({type:"<option />", attributes:{html:gon.model[model][i].name, value: gon.model[model][i]['_id'].$oid }});
      else
        optionHtml.push({type:"<option />", attributes:{html:gon.model[model][i].name, value: gon.model[model][i][key] }});
    }
    return optionHtml;
  }

  function getOptionsFromArray(array) {
    var optionHtml = [];
    for(var i = 0, length = array.length; i < length; i++) {
      optionHtml.push({type:"<option />", attributes:{html: array[i], value: array[i] }});
    }
    return optionHtml;
  }

  function getRadioFromArray(array, modelKey) {
    var optionHtml = [];
    for(var i = 0, length = array.length; i < length; i++) {
      optionHtml.push(
        {type:"<option />", attributes:{class: "radio"}, children: [
          {type:"<label />", attributes: {}, children: [
            {type:"<input />", attributes: {class: "ace", type: "radio", name:"form["+ modelKey +"]"}},
            {type: "<span />", attributes: {class: "lbl", html: array[i]}}
          ]}
        ]}
      );
    }
    return optionHtml;
  }


  // buildForm();

  // console.log(gon);

  
    

</script>
