<div class="row">
	<div class="col-md-12 widget-container-col">
		<div class="widget-box widget-color-blue">
			<div class="widget-header">
				<h5 class="widget-title">Approve <%= %></h5>

			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-md-12">
							<!-- <iframe src="<%= @path %>"></iframe> -->
							<div class="col-md-12">
								<%= render :partial => 'form' %>
							</div>
							
						</div>
					</div>
				</div>

				<div class="widget-toolbox padding-8 clearfix">
					<form action="<%= @path%>" method="change_state">
						<%= hidden_field_tag 'state', ''%>
						<%= hidden_field_tag 'comments', ''%>
						<%= hidden_field_tag 'approverId', @approver._id%>

						<%= link_to '#', :class => 'btn btn-sm btn-danger col-md-1', :onclick => 'setParams("0")' do%>
							<i class="ace-icon fa fa-times"></i>
							<span class="bigger-110">Reject</span>
						<% end %>

						<div class="col-md-10">
							<input id="comments-holder" class="col-md-12" type="text" placeholder='Comments' />
						</div>

						<%= link_to '#', :class => 'btn btn-sm btn-success col-md-1', :onclick => 'setParams("1")' do%>
							<span class="bigger-110">Accept</span>
							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						<% end %>

						<div class="row" style="display:none">
					    <div class="col-md-12">
					      <div class="action">
					       <input type="submit">Submit</input> 
					      </div>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.actions').closest('.row').remove()

	function initFillFormDetails(form_obj, form_config, selector){
		var fromObj = form_obj.main_form
		var fieldObj = form_config.main_form.fields;
		fillFormDetails(fromObj, fieldObj, selector);
		if(form_obj.sub_forms){
			for(var i in form_obj.sub_forms){
				var subFormSelector = 'form[sub_forms]['+i+'][main_form][';
				initFillFormDetails(form_obj.sub_forms[i], form_config.sub_forms[parseInt(i)], subFormSelector)
			}
		}
	}

		initFillFormDetails(gon.fill_step.action_obj, gon.form, 'form[main_form][');


	function fillFormDetails(fromObj, fieldObj, selector){
		for(var i in fieldObj){
			var keyIndex = 0;
			var innerObj = fieldObj[i];
			var keys = Object.keys(innerObj);
			for(var j in innerObj){
				if(innerObj[j].html.tag =='input' && innerObj[j].html.type !='file')
					setValueOfInput(keys[keyIndex], fromObj[keys[keyIndex]], selector)
				else if(innerObj[j].html.tag =='select')				
					setValueOfSelectTags(keys[keyIndex], fromObj[keys[keyIndex]], innerObj[j].html.type, selector)
				else
					setValueOfFile(keys[keyIndex], fromObj[keys[keyIndex]], selector)

				keyIndex++
			}
		}
		addAceFormEffects();
	}



	function setValueOfInput (key, value, selector) {
		var jqueryObj = $('[name ="'+ selector + key + ']"]')
		jqueryObj.val(value)

		if(jqueryObj.attr('type') == 'checkbox')
			jqueryObj.trigger('click')

		jqueryObj.attr('disabled', true)
	}

	function setValueOfFile (key, value, selector) {
		var parent = $('[name ="'+ selector + key + ']"]').closest('div');
		parent.children('label').remove();
		parent.children('.ace-file-input').remove();
		parent.append($('<a />', {class:'btn btn-primary btn-block',target:'_blank', href:value.split('/public')[1], html:"Download"}));
	}

	function setValueOfSelectTags (key, value, type, selector){
		var jqueryObj = type == 'single'? $('[name ="'+ selector + key + ']"]') : $('[name ="'+ selector+ key + '][]"]') 
		if(type == 'single') {
			$(jqueryObj.find('option[value="'+value+'"]')).attr('selected', 'selected')
		} else {
			for(var i = 0, length = value.length; i < length; i++) {
				$(jqueryObj.find('option[value="'+value[i]+'"]')).attr('selected', 'selected')
			}
		}
		jqueryObj.attr('disabled', true)
	}

	function addAceFormEffects() {
	  $('.ace-file-input').ace_file_input({
	    no_file:'No File ...',
	    btn_choose:'Choose',
	    btn_change:'Change',
	    droppable:false,
	    onchange:null,
	    thumbnail:false
	  }); 
	  
	  $('.chosen-select').chosen(); 
	  $('.chosen-container').css('width','99.5%');


	  // for diasbling the chosen select if disabled attribute is given
	  $(".chosen-select").trigger("chosen:updated");


	  $('.date-picker').datepicker({
	    autoclose: true,
	    todayHighlight: true
	  })
	  //show datepicker when clicking on the icon
	  .next().on(ace.click_event, function(){
	    $(this).prev().focus();
	  });
	  $('textarea[class*=autosize]').autosize({append: "\n"});
	}

	

	function setParams(state){
		$('#state').val(state)
		$('#comments').val($('#comments-holder').val())
		console.log($('.action input'))
		$('.action input').trigger('click')
	}
</script>