<%= form_for(@process_master, multipart: true) do |f| %>
  <% if @process_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_master.errors.count, "error") %> prohibited this process_master from being saved:</h2>

      <ul>
      <% @process_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="space-16"></div>
  <div class="row">
    <div class="col-md-12">
      <form id="form-holder" class="form-horizontal" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="form-group">
                <label class="col-md-3 control-label no-padding-right"> Process Name </label>
                <input type="text" class="col-md-9" placeholder="Process Name" name="process[name]">
              </div>
            </div>
          </div>
        </div>

        <div class="space-8"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="widget-box">
              <div class="widget-header">
                <h4 class="widget-title">
                  Master Steps 
                  <i class="fa fa-plus blue" onclick="addMasterStep()" style="cursor: pointer"></i>
                </h4>
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <div id="process-master-form" class="accordion-style1 panel-group"></div>

              </div>
            </div>
          </div>
        </div>
        
      </form>
    </div>

    <div class="space-10"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <%= f.submit 'Create Process Master', :class => 'btn btn-success' %>
          <%= link_to 'Back', process_masters_path, :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>





  


    
      
<% end %>

<script>

    
// apply_dataTable('#user_table_table', '#user_table_wrapper','#user_table_length', '#user_table_filter');

  function makeChosen() {
    $('.chosen-select').chosen(); 
    $('.chosen-container').css('width','99.5%');
  }
  makeChosen();

  function addMasterStep() {
    var lastStep = $("#process-master-form .stepno_hidden").last()[0];

    var stepno = lastStep ? parseInt(lastStep.value)+1 : 1;
    initHTMLAppender($("#process-master-form"), buildMasterStep(stepno));
    renameMasterSteps();
    makeChosen();
    $("#process-master-form .panel .accordion-toggle").last().trigger('click');
  }

  function buildMasterStep(stepno) {
    var masterStep = [
      {type: "<div />", attributes: {class:"panel panel-default"}, children:[
        {type: "<div />", attributes: {class:"panel-heading"}, children:[
          {type: "<h4 />", attributes: {class:"panel-title"}, children:[
            {type: "<a />", attributes: {class:"accordion-toggle collapsed", onclick:"toggleMasterStep($(this))"}, children:[
              {type: "<i />", attributes: {class:"ace-icon fa fa-angle-right bigger-110"}},
              {type: "<span />", attributes: {}, children:[
                {type: "<span />", attributes: {class: "step-label"}, children: [
                  {type: "<span />", attributes: {class: "", html: "Step #"}},
                  {type: "<span />", attributes: {class: "stepno", html: stepno}},
                  {type: "<input />", attributes: {type:"hidden", class: "stepno_hidden", value: stepno}},
                  {type: "<input />", attributes: {type:"hidden", class: "sequence", name: "masterSteps["+stepno+"][sequence]", value: stepno}}
                ]},
                {type: "<i />", attributes: {class: "pull-right fa fa-close bigger-130 red", style:"cursor: pointer", onclick: "deleteMasterStep($(this))"}}
              ]}
            ]}
          ]}
        ]},
        {type: "<div />", attributes: {class:"panel-collapse collapse"},children:[
          {type: "<div />", attributes: {class:"panel-body"}, children:[
            {type: "<div />", attributes: {class: "row action-holder"}, children: [
              {type: "<div />", attributes: {class: "col-md-6"}, children: [
                {type: "<div />", attributes: {class:"row"}, children: [
                  {type: "<div />", attributes: {class:"form-group"}, children: [
                    {type: "<div />", attributes: {class:"col-md-3 control-label no-padding-right", html: " Action "}},
                    {type: "<div />", attributes: {class:"col-md-9"}, children: [
                      {type: "<select />", attributes: {class:"chosen-select", onchange: "getActionForm($(this))", name: "masterSteps["+stepno+"][action]"}, children: [
                        {type: "<option />", attributes: {value: "Fill", html: "Fill"}},
                        {type: "<option />", attributes: {value: "Approve", html: "Approve"}},
                        {type: "<option />", attributes: {value: "Notify", html: "Notify"}},
                        {type: "<option />", attributes: {value: "MarkComplete", html: "MarkComplete"}},
                        {type: "<option />", attributes: {value: "SpawnD", html: "SpawnD"}},
                        {type: "<option />", attributes: {value: "SpawnI", html: "SpawnI"}}
                      ]}
                    ]}
                  ]}
                ]}
              ]},
              {type: "<div />", attributes: {class: "col-md-6"}, children: [
                {type: "<div />", attributes: {class:"row"}, children: [
                  {type: "<div />", attributes: {class:"form-group"}, children: [
                    {type: "<div />", attributes: {class:"col-md-3 control-label no-padding-right", html: " Action Model "}},
                    {type: "<div />", attributes: {class:"col-md-9"}, children: [
                      {type: "<select />", attributes: {class:"chosen-select", onchange: "getActionForm($(this))", name: "masterSteps["+stepno+"][action_class]"}, children: buildActionClasses()
                      // [
                      //   {type: "<option />", attributes: {value: "Document", html: "Document"}},
                      //   {type: "<option />", attributes: {value: "Approve", html: "Approve"}},
                      //   {type: "<option />", attributes: {value: "Notify", html: "Notify"}},
                      //   {type: "<option />", attributes: {value: "MarkComplete", html: "MarkComplete"}},
                      //   {type: "<option />", attributes: {value: "SpawnD", html: "SpawnD"}},
                      //   {type: "<option />", attributes: {value: "SpawnI", html: "SpawnI"}}
                      // ]
                      }
                    ]}
                  ]}
                ]}
              ]}
            ]},
            {type: "<hr />", attributes: {}},
            {type: "<div />", attributes: {class: "action-form-container"}}
          ]}    
        ]}
      ]}
    ]

    return masterStep;
  }

  function buildActionClasses() {
    var actionClasses = [];
    for(var i = 0, len = gon.modelData.forms.length; i < len; i++) {
      actionClasses.push({type: "<option />", attributes: {value: gon.modelData.forms[i]['model'], html: gon.modelData.forms[i]['title']}});
    }
    return actionClasses;
  }

  function toggleMasterStep(_this) {
    _this.toggleClass('collapsed');
    _this.closest('.panel-heading').siblings('.panel-collapse').toggle('height');
    _this.closest('.panel-heading').siblings('.panel-collapse').toggleClass('in');
    $(_this.find('.ace-icon')[0]).toggleClass('fa-angle-down')
    $(_this.find('.ace-icon')[0]).toggleClass('fa-angle-right')
  }

  function deleteMasterStep(_this) {
    _this.closest('.panel').remove();
    renameMasterSteps();
  }

  function renameMasterSteps() {
    var stepLabels = $("#process-master-form .stepno");
    var stepSeq = $("#process-master-form .sequence");
    for(var i = 0, len = stepLabels.length; i < len; i++) {
      stepLabels[i].innerHTML = i+1;
      stepSeq[i].value = i;
    }
  }
  addMasterStep();

  function getActionForm(_this) {
    var action = _this.val();
    var actionContainer = _this.closest('.action-holder').siblings('.action-form-container');
    actionContainer.empty();
    var stepno = _this.closest('.panel-collapse').siblings('.panel-heading').find('.stepno_hidden').val();

    var actionForm = buildActionForm(action, stepno);
    if(typeof actionForm == "object") 
      initHTMLAppender(actionContainer, actionForm);

    makeChosen();
  }

  function buildActionForm(action, stepno) {
    var processes = [];
    for(var i = 0, len = gon.modelData.processes.length; i < len; i++) {
      processes.push({type: "<option />", attributes: {value: gon.modelData.processes[i]._id.$oid, html: gon.modelData.processes[i].name}})
    }
    console.log(processes);
    var actionForms = {
      Fill: [], 
      Approve: [
        {type: "<div />", attributes: {class: "row"}, children: [
          {type: "<div />", attributes: {class: "col-md-6"}, children: [
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Set Reminder"}},
                  {type: "<input />", attributes: {class: "col-md-7", type: "text", placeholder: "Set Reminder", name: "masterSteps["+stepno+"][action_obj][reminder]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Repeat Reminder"}},
                  {type: "<input />", attributes: {class: "col-md-7", type: "text", placeholder: "Repeat Reminder", name: "masterSteps["+stepno+"][action_obj][repeat_reminder]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Set Escalation", name: "masterSteps["+stepno+"][action_obj][escalation]"}},
                  {type: "<input />", attributes: {class: "col-md-7", type: "text", placeholder: "Set Escalation", name: "masterSteps["+stepno+"][action_obj][escalation]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Repeat Escalation"}},
                  {type: "<input />", attributes: {class: "col-md-7", type: "text", placeholder: "Repeat Escalation", name: "masterSteps["+stepno+"][action_obj][repeat_escalation]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-6"}, children: [
                {type: "<label />", attributes: {style: "vertical-align: middle; margin-top: 10px; margin-bottom: 0; padding-left: 12px"}, children:[
                  {type: "<input />", attributes: {class: "ace ace-switch ace-switch-6", type: "checkbox", name: "masterSteps["+stepno+"][action_obj][manager]"}},
                  {type: "<span />", attributes: {class: "lbl"}}
                ]},
                {type: "<span />", attributes: {style: "margin-left: 10px;", html: "Manager's Approval?"}}
              ]}
            ]}
          ]},
          {type: "<div />", attributes: {class: "col-md-6", style: "border-left: 1px dashed black;"}, children: [
            {type: "<div />", attributes: {class: "row model-selector"}, children: [
              {type: "<div />", attributes: {class: "form-group"}, children: [
                {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Select agents By:"}},
                {type: "<div />", attributes: {class: "col-md-8"}, children: [
                  {type: "<select />", attributes: {class: "form-control chosen-select", onchange: "getModelTableData($(this), 'action_obj', 'agents')", name: "masterSteps["+stepno+"][action_obj][agents][model]"}, children: [
                    {type: "<option />", attributes: {value: "", html: "Select Approver Type"}},
                    {type: "<option />", attributes: {value: "Employee", html: "Employee"}},
                    {type: "<option />", attributes: {value: "Role", html: "Role"}},
                    {type: "<option />", attributes: {value: "Department", html: "Department"}},
                    {type: "<option />", attributes: {value: "Group", html: "Group"}},
                    {type: "<option />", attributes: {value: "Band", html: "Band"}}
                  ]}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-10"}},
            {type: "<div />", attributes: {class: "row model-values"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "table-header", html: "Select agents"}},
                {type: "<div />", attributes: {class: "table-container"}}
              ]}
            ]}
          ]}
        ]}
      ],

      Notify: [
        {type: "<div />", attributes: {class: "row"}, children: [
          {type: "<div />", attributes: {class: "col-md-6"}, children: [
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Title"}},
                  {type: "<input />", attributes: {class: "col-md-7", type: "text", placeholder: "Title", name: "masterSteps["+stepno+"][action_obj][title]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Description"}},
                  {type: "<textarea />", attributes: {class: "col-md-7", placeholder: "Description", style: "height: auto; resize: none; word-wrap: break-word; padding-left: 4px; padding-right: 4px;", name: "masterSteps["+stepno+"][action_obj][description]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-6"}, children: [
                {type: "<label />", attributes: {style: "vertical-align: middle; margin-top: 10px; margin-bottom: 0; padding-left: 12px"}, children:[
                  {type: "<input />", attributes: {class: "ace ace-switch ace-switch-6", type: "checkbox", name: "masterSteps["+stepno+"][action_obj][initiator]"}},
                  {type: "<span />", attributes: {class: "lbl"}}
                ]},
                {type: "<span />", attributes: {style: "margin-left: 10px;", html: "Notify Initiator?"}}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-4"}},
            {type: "<div />", attributes: {class: "row"}, children: [
              {type: "<div />", attributes: {class: "col-md-6"}, children: [
                {type: "<label />", attributes: {style: "vertical-align: middle; margin-top: 10px; margin-bottom: 0; padding-left: 12px"}, children:[
                  {type: "<input />", attributes: {class: "ace ace-switch ace-switch-6", type: "checkbox", name: "masterSteps["+stepno+"][action_obj][file]"}},
                  {type: "<span />", attributes: {class: "lbl"}}
                ]},
                {type: "<span />", attributes: {style: "margin-left: 10px;", html: "Include File?"}}
              ]}
            ]}

          ]},
          {type: "<div />", attributes: {class: "col-md-6", style: "border-left: 1px dashed black;"}, children: [
            {type: "<div />", attributes: {class: "row model-selector"}, children: [
              {type: "<div />", attributes: {class: "form-group"}, children: [
                {type: "<label />", attributes: {class: "col-md-4 control-label no-padding-right", html: "Select Recipient By:"}},
                {type: "<div />", attributes: {class: "col-md-8"}, children: [
                  {type: "<select />", attributes: {class: "form-control chosen-select",onchange: "getModelTableData($(this), 'action_obj', 'agents')", name: "masterSteps["+stepno+"][action_obj][agents][model]"}, children: [
                    {type: "<option />", attributes: {value: "", html: "Select Recipient Type"}},
                    {type: "<option />", attributes: {value: "Employee", html: "Employee"}},
                    {type: "<option />", attributes: {value: "Role", html: "Role"}},
                    {type: "<option />", attributes: {value: "Department", html: "Department"}},
                    {type: "<option />", attributes: {value: "Group", html: "Group"}},
                    {type: "<option />", attributes: {value: "Band", html: "Band"}}
                  ]}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "space-10"}},
            {type: "<div />", attributes: {class: "row model-values"}, children: [
              {type: "<div />", attributes: {class: "col-md-12"}, children: [
                {type: "<div />", attributes: {class: "table-header", html: "Select agents"}},
                {type: "<div />", attributes: {class: "table-container"}}
              ]}
            ]}
          ]}
        ]}
      ],
      MarkComplete: [],
      SpawnD: [
        {type: "<div />", attributes: {class: "row"}, children: [
          {type: "<div />", attributes: {class: "form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-2 control-label no-padding-right", html: "Select Process"}},
            {type: "<div />", attributes: {class: "col-md-4"}, children: [
              {type: "<select />", attributes: {class: "form-control chosen-select"}, children: processes}
            ]}
          ]}
        ]}
      ],
      SpawnI: [
        {type: "<div />", attributes: {class: "row"}, children: [
          {type: "<div />", attributes: {class: "form-group"}, children: [
            {type: "<label />", attributes: {class: "col-md-2 control-label no-padding-right", html: "Select Process"}},
            {type: "<div />", attributes: {class: "col-md-4"}, children: [
              {type: "<select />", attributes: {class: "form-control chosen-select"}, children: processes}
            ]}
          ]}
        ]}
      ]
    }

    return actionForms[action]
  }

  function getModelTableData(_this, key, subkey) {
    var modelValues = gon.modelData[_this.val()];
    var _tableContainer = $(_this.closest('.model-selector').siblings('.model-values').find('.table-container')[0]);
    var tableValues = [];
    var stepno = _this.closest('.panel-collapse').siblings('.panel-heading').find('.stepno_hidden').val();

    for(var i = 0, len = modelValues.length; i < len; i++) {
      var obj = {type: "<tr />", attributes: {}, children: [
        {type: "<td />", attributes: {class: "center"}, children: [
          {type: "<label />", attributes: {class: "position-relative"}, children: [
            {type: "<input />", attributes: {class: "ace", type: "checkbox", name: "masterSteps["+stepno+"]["+key+"]["+subkey+"][ids]["+i+"]", value: modelValues[i]._id.$oid}},
            {type: "<span />", attributes: {class: "lbl"}}
          ]}
        ]},
        {type: "<td />", attributes: {}, children: [
          {type: "<span />", attributes: {html: modelValues[i].name}}
        ]}
      ]};

      tableValues.push(obj);
    }

    var tableStruct = [
      {type: "<table />", attributes: {class: "table table-striped table-bordered table-hover"}, children: [
        {type: "<thead />", attributes: {}, children: [
          {type: "<tr />", attributes: {}, children: [
            {type: "<th />", attributes: {class: "center", html: "Select"}},
            {type: "<th />", attributes: {html: "Name"}}
          ]}
        ]},
        {type: "<tbody />", attributes: {}, children: tableValues}
      ]}
    ]

    _tableContainer.empty();
    initHTMLAppender(_tableContainer, tableStruct);

    $(_tableContainer.find('table')[0]).dataTable({
      pagingType: "full",
      order: [[1, 'asc']],
      aoColumnDefs: [
          { bSortable: false, aTargets: [ 0, 1 ] }
       ]
    });
  }

</script>
