<p id="notice"><%= notice %></p>

<h1>Listing Process Masters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_masters.each do |process_master| %>
      <tr>
        <td><%= link_to 'Show', process_master %></td>
        <td><%= link_to 'Edit', edit_process_master_path(process_master) %></td>
        <td><%= link_to 'Destroy', process_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process master', new_process_master_path %>
