<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <meta name="description" content=""/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>CodeHR</title>
  <%#= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application", :media => "all" %>
  <%# stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <%# session[:notice] %>
  <%# hidden_field_tag 'notice', session[:notice].to_s %>
  <%# f.hidden_field 'notice',session[:notice] %>

  <!-- toaster -->
  <link rel="stylesheet" href="/assets/toastr.css" />

  <!-- bootstrap & fontawesome -->
  <link rel="stylesheet" href="/assets/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/font-awesome.min.css" />

  <!-- page specific plugin styles -->
  <link rel="stylesheet" href="/assets/jquery-ui.custom.min.css" />
  <link rel="stylesheet" href="/assets/chosen.css" />
  <link rel="stylesheet" href="/assets/datepicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap-timepicker.css" />
  <link rel="stylesheet" href="/assets/daterangepicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap-datetimepicker.css" />
  <link rel="stylesheet" href="/assets/colorpicker.css" />

  <!-- text fonts -->
  <link rel="stylesheet" href="/assets/ace-fonts.css" />

  <!-- ace styles -->
  <link rel="stylesheet" href="/assets/ace.min.css" id="main-ace-style" />
  <link rel="stylesheet" href="/assets/ace-responsive.min.css"/>

  <link rel="stylesheet" href="/assets/ace-rtl.min.css" />

</head>

<body class="no-skin">

  <div id="navbar" class="navbar navbar-default">
    <div class="navbar-container" id="navbar-container">
      
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-header pull-left">
        <a href="#" class="navbar-brand">
          <small>
            <i class="fa fa-leaf"></i>
            CodeHR
          </small>
        </a>
      </div>

      <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
          <li class="grey">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="ace-icon fa fa-tasks"></i>
              <span class="badge badge-grey"><%= current_user.tasks.where(read: false).count.to_i %></span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
              <li class="dropdown-header" id="remain_task">
                <i class="ace-icon fa fa-check"></i>
                <%= current_user.tasks.where(read: false).count.to_i %> Tasks to complete
              </li>

              <% current_user.tasks.where(read: false).limit(5).desc(:created_at).each do |task| %>
                <li class="undone_task">
                  <a href="/tasks/<%= task._id %>">
                    <div class="clearfix">
                      <span class="pull-left"><%= task.title %></span>
                    </div>
                  </a>
                </li>
              <% end %>

              <li class="dropdown-footer">
                <a href="#">
                  <%= link_to 'See all Tasks', tasks_path %>
                  <!-- See tasks with details
                  <i class="ace-icon fa fa-arrow-right"></i> -->
                </a>
              </li>
            </ul>
          </li>

          <li class="purple">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="ace-icon fa fa-bell icon-animated-bell"></i>
              <span class="badge badge-important"><%= current_user.notifications.where(read: false).count.to_i %></span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
              <li class="dropdown-header" id="nott">
                <i class="ace-icon fa fa-exclamation-triangle"></i>
                <%= current_user.notifications.where(read: false).count.to_i %> Notifications
              </li>

              <% current_user.notifications.where(read: false).limit(5).desc(:created_at).each do |notification| %>
                <li class="unread_nott">
                  <a href="/notifications/<%= notification.id %>">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-primary fa fa-comment"></i>
                        <%=notification.title.truncate(20) %>
                      </span>
                    </div>
                  </a>
                </li>
              <% end %>

              <li class="dropdown-footer">
                <a href="#">
                  <%= link_to 'See all Notifications', notifications_path %>
                </a>
              </li>
            </ul>
          </li>

          <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <img alt="Jason's Photo" src="/assets/user.jpg" class="nav-user-photo"/>
              <span class="user-info">
                <small>Welcome,</small>
                <%= current_user.name %>
              </span>

              <i class="ace-icon fa fa-caret-down"></i>
            </a>

            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li>
                <a href="/employee_masters/<%= current_user.employee_master.id rescue nil %>/edit">
                  <i class="ace-icon fa fa-cog"></i>
                  Settings
                </a>
              </li>

              <li>
                <a href="/employee_details/<%= current_user.employee_master._id.to_s rescue nil %>/edit">
                  <i class="ace-icon fa fa-user"></i>
                  Profile
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="<%= destroy_user_session_path %>">
                  <i class="ace-icon fa fa-power-off"></i>
                  Logout
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <div class="main-container" id="main-container">

    <div id="sidebar" class="sidebar responsive">
      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <a href = "/reports" class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
          </a>

          <a href="<%# left_panels_path %>" class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
          </a>

          <!-- #section:basics/sidebar.layout.shortcuts -->
          <a href="<%# ability_matrices_path %>" class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
          </a>

          <a href="/power_admin" class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
          </a>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>
          <span class="btn btn-info"></span>
          <span class="btn btn-warning"></span>
          <span class="btn btn-danger"></span>
        </div>

        <ul class="nav nav-list">

          <li class="">
            <a href="<%= new_process_master_path %>">
              <i class="menu-icon fa fa-angle-down pull-left"></i>
              <span class="menu-text pull-left"> New Process Masters </span>
            </a>
            <b class="arrow"></b>
          </li>

          <li class="">
            <a href="#" class="dropdown-toggle">
              <i class="menu-icon fa fa-tag pull-left"></i>
              <span class="menu-text pull-left"> Process Masters </span>

              <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <% @process_masters = ProcessMaster.all %>

            <ul class="submenu">
              <% @process_masters.each do |process_master| %>
              <li class="">
                <%= link_to process_master, :style => "text-align: left" do %>
                  <i class="menu-icon fa fa-caret-right pull-left"></i>
                  <%= process_master.name %>
                <% end %>
                <!-- <a href="" style="text-align: left">
                  <i class="menu-icon fa fa-caret-right pull-left"></i>
                  <%= process_master.name %>
                </a> -->

                <b class="arrow"></b>
              </li>
              <% end %>
              
            </ul>
          </li>

        </ul>

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
          <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

      </div>
    </div>

    <div class="main-content">
      <div class="page-content">
        <div class="page-content-area">

          <%= yield %>
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">
      //toatser options
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "500",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      // var notice = JSON.parse($('#notice').val().split("=>").join(":")); 
      // for(var i = 0,len = notice.length; i < len ;i++ ){
      //   if(notice[i].title)
      //     toastr[notice[i].type](notice[i].title, notice[i].description)
      //   else
      //     toastr[notice[i].type](notice[i].description)
      // }


      
      $(function() {
          $(document).ajaxSend(function(e, xhr, options) {
              var token = $("meta[name='csrf-token']").attr("content");
              xhr.setRequestHeader("X-CSRF-Token", token);
          });

          $('.text_filter').css('width','65%');

          $('table th input:checkbox').on('click', function () {
              var that = this;
              $(this).closest('table').find('tr > td:first-child input:checkbox')
                      .each(function () {
                          this.checked = that.checked;
                          $(this).closest('tr').toggleClass('selected');
                      });

          });

          $('#id-disable-check').on('click', function() {
              var inp = $('#form-input-readonly').get(0);
              if(inp.hasAttribute('disabled')) {
                  inp.setAttribute('readonly' , 'true');
                  inp.removeAttribute('disabled');
                  inp.value="This text field is readonly!";
              }
              else {
                  inp.setAttribute('disabled' , 'disabled');
                  inp.removeAttribute('readonly');
                  inp.value="This text field is disabled!";
              }
          });


          $(".chzn-select").chosen();
          $(".chzn-select-deselect").chosen({allow_single_deselect:true});

          $('textarea[class*=limited]').each(function() {
              var limit = parseInt($(this).attr('data-maxlength')) || 100;
              $(this).inputlimiter({
                  "limit": limit,
                  remText: '%n character%s remaining...',
                  limitText: 'max allowed : %n.'
              });
          });

          $( "#eq > span" ).css({width:'90%', float:'left', margin:'15px'}).each(function() {
              // read initial values from markup and remove that
              var value = parseInt( $( this ).text(), 10 );
              $( this ).empty().slider({
                  value: value,
                  range: "min",
                  animate: true

              });
          });

          $('.date-picker').datepicker();
          $('.time-picker').timepicker();
      });

      function poll_notification() {
          //alert('Sunny');
          return $.get('/notifications.json', null, function(data, status, jqXHR) {
              var d, m, msgsSorted, _i, _len;
              $('.unread_nott').empty().remove();
              $('#nott').html('<i class="icon-warning-sign"></i>'+data.length+' Unread Notifications');
              $('#notcnt').html(data.length);
              for (_i = 0; _i < data.length; _i++) {
                  m = data[_i];
                  var $a = $('.purple_open').find('.navbar-pink');
                  var link= "/notification_masters/"+ m._id;
                  var b= '<li class="unread_nott"><a href="'+link+'"><div class="clearfix">'+
                          '<span class="pull-left">' +
                          '<i class="btn btn-xs no-hover btn-primary fa fa-comment"></i>' +
                          m.title +
                          '</span>'+
                          '</div></a></li>';
                  $(b).insertAfter($('#nott'));
              }
              return setTimeout(poll_notification, 5000);
          });
          console.log('testing')
      };


      function poll_task() {
          return $.get('/tasks.json', null, function(data, status, jqXHR) {
              var d, m, msgsSorted, _i, _len;
              $('.undone_task').empty().remove();
              $('#remain_task').html('<i class="icon-ok"></i> '+data.length+' Tasks to complete');
              $('#remtask').html(data.length);
              for (_i = 0; _i < data.length; _i++) {
                  m = data[_i];
                  var $a = $('.purple_open').find('.navbar-pink');
                  var link= "/notification_masters/"+ m._id;
                  var b= '<li class="undone_task"><a href="'+link+'"><div class="clearfix">'+
                          '<span class="pull-left">' +
                          '<i class="btn btn-xs no-hover btn-primary fa fa-comment"></i>' +
                          m.description +
                          '</span>'+
                          '</div></a></li>';
                  $(b).insertAfter($('#remain_task'));
              }
              return setTimeout(poll_task, 5000);
          });
          console.log('testing')
      };

      
  </script>

</body>
</html>