<%= form_for @user_task,:url => (@new ? generic_create_path(@user_task.class) : generic_update_path(@user_task.class,@user_task.id)) do |f| %>
  <% if @user_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_task.errors.count, "error") %> prohibited this user_task from being saved:</h2>

      <ul>
      <% @user_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !params[:process_id].nil? %>
    <%= hidden_field_tag :process_id, params[:process_id] %>
    <%= hidden_field_tag :seq, params[:seq] %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
