<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Notification Master Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Title</th>
            <td><%= @user_task.title %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><a href="<%= @user_task.link %>"><%= raw @user_task.description %></a></td>
          </tr>
          <tr>
            <th>Type</th>
            <td><%= @user_task.type rescue "" %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_user_task_path(@user_task) %> |
<%= link_to 'Back', user_tasks_path %>

