<p id="notice"><%= notice %></p>

<h1>Listing Approvers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approvers.each do |approver| %>
      <tr>
        <td><%= link_to 'Show', approver %></td>
        <td><%= link_to 'Edit', edit_approver_path(approver) %></td>
        <td><%= link_to 'Destroy', approver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Approver', new_approver_path %>
